@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Space+Mono&display=swap');

body {
    background-color: #696969;
    display: grid;
    font-size: 15px;
    font-family: 'Space Mono', monospace;

    grid-template-areas:
    "header"
    "main"
    "footer";

    grid-template-columns: auto;
    grid-template-rows: 50px 170vh  auto;
}

html {
  scroll-behavior: smooth;
 }

a {
  color: inherit; 
  text-decoration: inherit; 
}


header {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    background-color: #ffcc00;

    padding: 0.5rem;
    position: fixed;
    height: 5%;
    width: calc(100% - 15px);
    

    grid-area: header;
}

.title {
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.header-links {
    justify-content: space-between;
    align-items: flex-end - 2%;
}

.main_header_nav__link {
    border: 3px solid #666666;
    padding: 10px;
    border-radius: 0.5em;
    
}

.main_header_nav__link:hover {
    border: 3px solid #666666;
    transition: 0.5s;
    background-color: #666666;
    padding: 10px;
    border-radius: 0.5em;
    
}


main {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;

    justify-content: space-around;

    grid-area: main;

}

.main_content {
    background-color: #ffffff;
    padding: 1%;
    border-radius: 0.5em;
    font-size: 18px;

  
}

.main_title {
    font-size: 20px;
    line-height: 0px;
    margin: -1% -1% 0% 1%;

}


.about_me {
    padding: 1%;
    background-color: #DFDBDB;
    justify-content: flex-end;
    
}

#about_me {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hobbies {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.soft_skills {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}


.hobbies_cards{
    background: #DFDBDB;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 1%;
}

.soft_skills_cards{
    background: #DFDBDB;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 1%;
}

footer {
    background-color: #ffcc00;
    grid-area: footer;
}